# Data acquisition from Kaggle

**Important Note:** You must sign up for the competition [here](https://www.kaggle.com/c/coupon-purchase-prediction/data) and download your kaggle.json from your Kaggle account page. See Steps 1-2 [here](https://www.analyticsvidhya.com/blog/2021/06/how-to-load-kaggle-datasets-directly-into-google-colab/) for more information.

In [ ]:
from google.colab import files

# UPLOAD YOUR KAGGLE.JSON
# Only run this cell if you need to upload kaggle.json
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"catapultic","key":"bc709cc2cfed23022adc91952ba357c7"}'}

In [ ]:
# Kaggle credentials setup
!pip install kaggle
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
# Download Coupon Purchase Prediction data set
!kaggle competitions download -c coupon-purchase-prediction -p data

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading coupon_list_test.csv.zip to data
  0% 0.00/11.6k [00:00<?, ?B/s]
100% 11.6k/11.6k [00:00<00:00, 7.42MB/s]
Downloading coupon_area_train.csv.zip to data
  0% 0.00/832k [00:00<?, ?B/s]
100% 832k/832k [00:00<00:00, 53.7MB/s]
Downloading sample_submission.csv.zip to data
  0% 0.00/400k [00:00<?, ?B/s]
100% 400k/400k [00:00<00:00, 57.4MB/s]
Downloading coupon_area_test.csv.zip to data
  0% 0.00/14.0k [00:00<?, ?B/s]
100% 14.0k/14.0k [00:00<00:00, 28.7MB/s]
Downloading documentation.zip to data
  0% 0.00/21.6k [00:00<?, ?B/s]
100% 21.6k/21.6k [00:00<00:00, 19.6MB/s]
Downloading coupon_visit_train.csv.zip to data
 77% 65.0M/84.5M [00:03<00:02, 9.31MB/s]
100% 84.5M/84.5M [00:03<00:00, 23.2MB/s]
Downloading coupon_list_train.csv.zip to data
  0% 0.00/656k [00:00<?, ?B/s]
100% 656k/656k [00:00<00:00, 42.4MB/s]
Downloading user_list.csv.zip to data
  0% 0.00/627k [00:00<?, ?B/s]
100% 627k/627k [00:00<00:00, 88.5MB/s]
Downloading prefecture_locations.csv to data
  0% 0.00/2.00k [00:00<?, ?B/s]
100% 2.00k/2.00k [00:00<00:00, 1.73MB/s]
Downloading coupon_detail_train.csv.zip to data
 68% 5.00M/7.32M [00:01<00:00, 4.20MB/s]
100% 7.32M/7.32M [00:01<00:00, 6.06MB/s]

In [ ]:
# unzip and reorganize the zipped tables
# Master list of users
!unzip data/user_list.csv.zip -d data/

# Master list of coupons (train & test)
!unzip data/coupon_list_train.csv.zip -d data/
!unzip data/coupon_list_test.csv.zip -d data/

# Table containing physical areas where coupons are available (train & test)
!unzip data/coupon_area_train.csv.zip -d data/
!unzip data/coupon_area_test.csv.zip -d data/

# Purchase log of users buying coupons during the training period (train only)
!unzip data/coupon_detail_train.csv.zip -d data/

# Browsing log of users visiting coupons during the training period (train only)
!unzip data/coupon_visit_train.csv.zip -d data/

Archive:  data/user_list.csv.zip
  inflating: data/user_list.csv
Archive:  data/coupon_list_train.csv.zip
  inflating: data/coupon_list_train.csv
Archive:  data/coupon_list_test.csv.zip
  inflating: data/coupon_list_test.csv
Archive:  data/coupon_area_train.csv.zip
  inflating: data/coupon_area_train.csv
Archive:  data/coupon_area_test.csv.zip
  inflating: data/coupon_area_test.csv
Archive:  data/coupon_detail_train.csv.zip
  inflating: data/coupon_detail_train.csv
Archive:  data/coupon_visit_train.csv.zip
  inflating: data/coupon_visit_train.csv

In [ ]:
# Delete unused zip files
!rm -f data/*.zip

## Translation of Japanese columns to English
Note: This does a full translation of the Japanese characters to English. It does not transliterate the Japanese place names to their English counterparts. We end up with the actual meaning of the Japanese names sometimes, like "Place which is by the water." That is okay - it is not important for training, they just help us explore the data and understand what we are looking at.

In [ ]:
# dependencies
%%capture
!pip install git+https://github.com/neuml/txtai#egg=txtai[pipeline]
!pip install pykakasi 

# imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tqdm import tqdm
from txtai.pipeline import Translation
import pykakasi

translate = Translation()
kks = pykakasi.kakasi()

#### Translation helper functions

In [ ]:
# Lookup table of translations to save time
translations = {}

# Translates jp->en using txtai package (unless NaN)
def safe_translate(jp, transliterate=False):
  if pd.isna(jp) == False:
    if transliterate == True: # use pykakasi
      return ''.join([item['hepburn'].capitalize() for item in kks.convert(jp)])
    else:
      return translate(jp, 'en') # using txtai
  else:
    return jp

# Checks the translation dict first before translating
def lookup_or_translate(jp):
  if (jp not in translations):
    translations[jp] = safe_translate(jp) # pass transliterate=True to use kakasi
  return translations[jp]

# Translates an entire column/list of data
def translate_list(data):
  translated = []
  for word in tqdm(data):
    t = lookup_or_translate(word)
    translated.append(t)
  return translated

In [ ]:
# Main loading function - takes a csv path, columns to translate, 
# and returns a Pandas dataframe. Translates columns in-place.
def load_translate(csv_path, translate_columns=[]):
  df = pd.read_csv(csv_path)
  for c in translate_columns:
    df[f'{c}_en_t'] = translate_list(df[c])
  return df

In [ ]:
# Create lists of columns that need to be translated for each table
# Coupon Visit Training set does not require any translation

# User list table
user_cols = ['PREF_NAME'] 

# Coupon list train and test
c_list_cols = ['CAPSULE_TEXT', 'GENRE_NAME', 'large_area_name', 
               'ken_name', 'small_area_name']

# Coupon detail
c_detail_cols = ['SMALL_AREA_NAME']

# Coupon area train and test
c_area_cols = ['SMALL_AREA_NAME', 'PREF_NAME']

# Prefecture locations
c_pref_cols = ['PREF_NAME', 'PREFECTUAL_OFFICE']

In [ ]:
# Perform the translations and load the data into DataFrames
df_users = load_translate('data/user_list.csv', user_cols)
df_area_train = load_translate('data/coupon_area_train.csv', c_area_cols)
df_area_test = load_translate('data/coupon_area_test.csv', c_area_cols)
df_c_list_train = load_translate('data/coupon_list_train.csv', c_list_cols)
df_c_list_test  = load_translate('data/coupon_list_test.csv', c_list_cols)
df_c_detail_train = load_translate('data/coupon_detail_train.csv', c_detail_cols)
df_visit_train = load_translate('data/coupon_visit_train.csv')
df_locations = load_translate('data/prefecture_locations.csv', c_pref_cols)

In [ ]:
# Map JP-EN for prefecture names.
pref_names_jp = df_users.PREF_NAME.unique()
pref_names_en = ['N/A', 'Tokyo', 'Aichi Prefecture', 'Kanagawa Prefecture', 
                'Hiroshima Prefecture', 'Saitama Prefecture', 'Nara Prefecture',
                'Ishikawa Prefecture', 'Osaka prefecture',
                'Kumamoto Prefecture', 'Fukuoka Prefecture', 'Hokkaido', 'Kyoto', 
                'Akita', 'Chiba Prefecture', 'Nagasaki Prefecture', 
                'Hyogo Prefecture', 'Okinawa', 'Mie', 'Ibaraki Prefecture', 
                'Kagoshima Prefecture', 'Miyagi Prefecture', 'Shizuoka Prefecture', 
                'Wakayama Prefecture', 'Nagano Prefecture', 'Okayama Prefecture', 
                'Tochigi Prefecture','Shiga Prefecture', 'Toyama Prefecture', 
                'Saga Prefecture', 'Miyazaki Prefecture', 'Iwate Prefecture', 
                'Niigata Prefecture', 'Oita Prefecture', 'Yamaguchi Prefecture', 
                'Gifu Prefecture','Gunma Prefecture', 'Fukushima Prefecture', 
                'Ehime Prefecture', 'Kagawa Prefecture', 'Yamanashi Prefecture', 
                'Kochi Prefecture', 'Shimane Prefecture', 'Tokushima Prefecture', 
                'Fukui Prefecture', 'Aomori Prefecture', 'Yamagata Prefecture', 
                'Tottori Prefecture']

print(f'Dictionary length - jp: {len(pref_names_jp)}, en: {len(pref_names_en)}')
pref_name_dict = {k:v for k, v in zip(pref_names_jp, pref_names_en)}

df_users['PREF_NAME_EN'] = df_users['PREF_NAME'].map(pref_name_dict)
df_users = df_users.drop(columns=['PREF_NAME', 'PREF_NAME_en_t'])
df_users

jp: 48, en: 48

                  REG_DATE  ...         PREF_NAME_EN
0      2012-03-28 14:14:18  ...                  N/A
1      2011-05-18 00:41:48  ...                Tokyo
2      2011-06-13 16:36:58  ...     Aichi Prefecture
3      2012-02-08 12:56:15  ...                  N/A
4      2011-05-22 23:43:56  ...  Kanagawa Prefecture
...                    ...  ...                  ...
22868  2011-12-12 15:42:56  ...                  N/A
22869  2011-08-10 00:49:55  ...                Kyoto
22870  2012-04-05 12:24:23  ...                  N/A
22871  2011-02-20 10:34:22  ...                  N/A
22872  2011-02-24 15:43:18  ...   Saitama Prefecture

[22873 rows x 6 columns]

In [ ]:
# Translate coupon capsule text
capsule_text_jp = df_c_list_train['CAPSULE_TEXT'].unique()
capsule_text_en = ['Restaurant', 'Hair salon', 'Spa', 'Relaxation', 'Beauty', 
                   'Nail and eye salon', 'Delivery service', 'Lesson',
                   'Gift card', 'Other coupon', 'Leisure',
                   'Hotel', 'Japanese inn', 'Vacation rental', 'Lodge',
                   'Resort inn', 'Guest house', 'Japanese guest house',
                   'Public inn', 'Beauty', 'Event', 'Web service', 
                   'Health / medical', 'Class', 'Correspondence course']



print(f'dictionary length - jp: {len(capsule_text_jp)}, en: {len(capsule_text_en)}')

capsule_text_dict = {k:v for k, v in zip(capsule_text_jp, capsule_text_en)}
df_c_list_train['CAPSULE_TEXT_EN'] = df_c_list_train['CAPSULE_TEXT'].map(capsule_text_dict)
df_c_list_test['CAPSULE_TEXT_EN'] = df_c_list_test['CAPSULE_TEXT'].map(capsule_text_dict)

dictionary length - jp: 25, en: 25

  CAPSULE_TEXT GENRE_NAME  ...             small_area_name_en_t  CAPSULE_TEXT_EN
0          グルメ        グルメ  ...                        Minashima       Restaurant
1          グルメ        グルメ  ...  Ginza, New Bridge, Tokyo, Ueno.       Restaurant
2          グルメ        グルメ  ...                         Yokohama       Restaurant
3          グルメ        グルメ  ...              He's in the armory.       Restaurant
4          グルメ        グルメ  ...                             Love       Restaurant

[5 rows x 30 columns]

In [ ]:
# Genre name translation
genre_name_jp = df_c_list_train['GENRE_NAME'].unique()
genre_name_en = ['Gourmet dining', 'Hair salon', 'Spa', 'Relaxation', 'Beauty',
                 'Nail and eye salon', 'Delivery service', 'Class', 'Gift Card', 
                 'Other coupons', 'Leisure', 'Hotels and inns', 'Health and medical']

assert len(genre_name_jp) == len(genre_name_en)

genre_name_dict = {k:v for k, v in zip(genre_name_jp, genre_name_en)}
df_c_list_train['GENRE_NAME_EN'] = df_c_list_train['GENRE_NAME'].map(genre_name_dict)
df_c_list_test['GENRE_NAME_EN'] = df_c_list_test['GENRE_NAME'].map(genre_name_dict)

df_c_list_train = df_c_list_train.drop(columns=['CAPSULE_TEXT', 'GENRE_NAME'])
df_c_list_test = df_c_list_test.drop(columns=['CAPSULE_TEXT', 'GENRE_NAME'])

In [ ]:
df_c_list = pd.concat([df_c_list_train, df_c_list_test])
large_area_name_jp = df_c_list['large_area_name'].unique()
large_area_name_en = ['Kanto', 'Kansai', 'Tokai', 'Hokkaido', 'Kyushu-Okinawa', 
                      'Tohoku', 'Shikoku', 'China', "Hokushin'etsu"]

assert len(large_area_name_jp) == len(large_area_name_en)

large_area_dict = {k:v for k, v in zip(large_area_name_jp, large_area_name_en)}

df_c_list_train['LARGE_AREA_NAME_EN'] = df_c_list_train['large_area_name'].map(large_area_dict)
df_c_list_test['LARGE_AREA_NAME_EN'] = df_c_list_test['large_area_name'].map(large_area_dict)

AssertionError: ignored

In [ ]:
df_c_list_test = df_c_list_test.drop(columns=['large_area_name', 'CAPSULE_TEXT_en_t', 'GENRE_NAME_en_t', 'large_area_name_en_t'])
df_c_list_test.head()

   PRICE_RATE  CATALOG_PRICE  ...   GENRE_NAME_EN LARGE_AREA_NAME_EN
0          52           5659  ...  Gourmet dining             Kansai
1          52          18000  ...  Gourmet dining              Kanto
2          51           7200  ...  Gourmet dining              Kanto
3          50           3300  ...  Gourmet dining             Kansai
4          56           3650  ...  Gourmet dining              Tokai

[5 rows x 26 columns]

In [ ]:
# Small area name translation
small_area_jp = df_c_list['small_area_name'].unique()
small_area_jp
small_area_en = ["Saitama", "Chiba", "Shinjuku, Takadanobaba Nakano - Kichijoji",
                 "Kyoto", "Ebisu / Meguro / Shinagawa", 
                 "Ginza, Shinbashi, Tokyo, Ueno", "Aichi", 
                 "Kawasaki, Shonan, Hakone, etc", 'Hokkaido', "Fukuoka", "Tochigi",
                 "Minami other", "Shibuya, Aoyama, Jiyugaoka",
                 "Ikebukuro Kagurazaka-Akabane", "Akasaka, Roppongi, Azabu",
                 "Yokohama", "Miyagi", "Fukushima", "Much", "Kochi", 
                 "Tachikawa Machida, Hachioji other", "Hiroshima","Niigata", 
                 "Okayama", "Ehime", "Kagawa", "Northern", "Tokushima", "Hyogo",
                 "Gifu", "Miyazaki", "Nagasaki", "Ishikawa", "Yamagata", "Shizuoka",
                 "Aomori", "Okinawa", "Akita", "Nagano", "Iwate", "Kumamoto",
                 "Yamaguchi", "Saga", "Nara", "Triple", "Gunma", "Wakayama", 
                 "Yamanashi", "Tottori", "Kagoshima", "Fukui", "Shiga", "Toyama",
                 "Shimane", "Ibaraki"]

assert len(small_area_jp) == len(small_area_en)

small_area_dict = {k:v for k, v in zip(small_area_jp, small_area_en)}
df_c_list_train['SMALL_AREA_NAME_EN'] = df_c_list_train['small_area_name'].map(small_area_dict)
df_c_list_test['SMALL_AREA_NAME_EN'] = df_c_list_test['small_area_name'].map(small_area_dict)

df_c_list_train.head()

   PRICE_RATE  CATALOG_PRICE  ...  LARGE_AREA_NAME_EN SMALL_AREA_NAME_EN
0          50           3000  ...               Kanto            Saitama
1          51           2080  ...               Kanto              Chiba
2          50           7000  ...               Kanto              Chiba
3          50           3000  ...               Kanto              Chiba
4          50           2000  ...               Kanto              Chiba

[5 rows x 27 columns]

In [ ]:
df_c_list_train = df_c_list_train.drop(columns=['small_area_name', 'small_area_name_en_t'])
df_c_list_test = df_c_list_test.drop(columns=['small_area_name', 'small_area_name_en_t'])

In [ ]:
df_c_list_test.head()

   PRICE_RATE  CATALOG_PRICE  ...  LARGE_AREA_NAME_EN             SMALL_AREA_NAME_EN
0          52           5659  ...              Kansai                   Minami other
1          52          18000  ...               Kanto  Ginza, Shinbashi, Tokyo, Ueno
2          51           7200  ...               Kanto                       Yokohama
3          50           3300  ...              Kansai                          Hyogo
4          56           3650  ...               Tokai                          Aichi

[5 rows x 25 columns]

In [ ]:
# ken name
ken_jp = df_c_list['ken_name'].unique()
ken_en = []

for k in ken_jp:
  if k in pref_name_dict:
    ken_en.append(pref_name_dict[k])
  else:
    ken_en.append(k)

ken_en

assert len(ken_jp) == len(ken_en)

ken_dict = {k:v for k, v in zip(ken_jp, ken_en)}
df_c_list_train['KEN_NAME_EN'] = df_c_list_train['ken_name'].map(ken_dict)
df_c_list_test['KEN_NAME_EN'] = df_c_list_test['ken_name'].map(ken_dict)

df_c_list_train = df_c_list_train.drop(columns=['ken_name', 'ken_name_en_t'])
df_c_list_test = df_c_list_test.drop(columns=['ken_name', 'ken_name_en_t'])

df_c_list_train.head()

   PRICE_RATE  CATALOG_PRICE  ...  SMALL_AREA_NAME_EN         KEN_NAME_EN
0          50           3000  ...             Saitama  Saitama Prefecture
1          51           2080  ...               Chiba    Chiba Prefecture
2          50           7000  ...               Chiba    Chiba Prefecture
3          50           3000  ...               Chiba    Chiba Prefecture
4          50           2000  ...               Chiba    Chiba Prefecture

[5 rows x 24 columns]

In [ ]:
df_c_detail_train['SMALL_AREA_NAME_EN'] = df_c_detail_train['SMALL_AREA_NAME'].map(small_area_dict)
print(df_c_detail_train['SMALL_AREA_NAME_EN'].unique())

['Hyogo' 'Ginza, Shinbashi, Tokyo, Ueno' 'Ebisu / Meguro / Shinagawa'
 'Shibuya, Aoyama, Jiyugaoka' 'Shinjuku, Takadanobaba Nakano - Kichijoji'
 'Gunma' 'Aichi' 'Yamagata' 'Akasaka, Roppongi, Azabu'
 'Kawasaki, Shonan, Hakone, etc' 'Saitama' 'Yokohama' 'Tochigi'
 'Hiroshima' 'Ikebukuro Kagurazaka-Akabane' 'Triple' 'Gifu' 'Shizuoka'
 'Northern' 'Minami other' 'Shiga' 'Kyoto' 'Hokkaido' 'Ishikawa' 'Nagano'
 'Chiba' 'Wakayama' 'Kagoshima' 'Saga' 'Nagasaki' 'Fukuoka' 'Much'
 'Miyazaki' 'Okinawa' 'Tachikawa Machida, Hachioji other' 'Iwate' 'Toyama'
 'Shimane' 'Yamaguchi' 'Nara' 'Fukushima' 'Aomori' 'Miyagi' 'Ibaraki'
 'Akita' 'Okayama' 'Ehime' 'Kumamoto' 'Kagawa' 'Tokushima' 'Kochi' 'Fukui'
 'Niigata' 'Tottori' 'Yamanashi']

In [ ]:
df_c_detail_train = df_c_detail_train.drop(columns=['SMALL_AREA_NAME', 'SMALL_AREA_NAME_en_t'])
df_c_detail_train

        ITEM_COUNT  ...                         SMALL_AREA_NAME_EN
0                1  ...                                      Hyogo
1                1  ...              Ginza, Shinbashi, Tokyo, Ueno
2                1  ...                 Ebisu / Meguro / Shinagawa
3                1  ...                 Ebisu / Meguro / Shinagawa
4                1  ...                 Ebisu / Meguro / Shinagawa
...            ...  ...                                        ...
168991           1  ...               Ikebukuro Kagurazaka-Akabane
168992           1  ...              Ginza, Shinbashi, Tokyo, Ueno
168993           1  ...              Ginza, Shinbashi, Tokyo, Ueno
168994           2  ...  Shinjuku, Takadanobaba Nakano - Kichijoji
168995           1  ...  Shinjuku, Takadanobaba Nakano - Kichijoji

[168996 rows x 6 columns]

In [ ]:
df_area_test['SMALL_AREA_NAME_EN'] = df_area_test['SMALL_AREA_NAME'].map(small_area_dict)
df_area_test['PREF_NAME_EN'] = df_area_test['PREF_NAME'].map(pref_name_dict)
df_area_test

     SMALL_AREA_NAME  ...         PREF_NAME_EN
0                 京都  ...                Kyoto
1               ミナミ他  ...     Osaka prefecture
2        銀座・新橋・東京・上野  ...                Tokyo
3          川崎・湘南・箱根他  ...  Kanagawa Prefecture
4                 埼玉  ...   Saitama Prefecture
...              ...  ...                  ...
2160            ミナミ他  ...     Osaka prefecture
2161              福井  ...     Fukui Prefecture
2162              鳥取  ...   Tottori Prefecture
2163              滋賀  ...     Shiga Prefecture
2164              香川  ...    Kagawa Prefecture

[2165 rows x 7 columns]

In [ ]:
df_area_test = df_area_test.drop(columns=['SMALL_AREA_NAME', 'SMALL_AREA_NAME_en_t', 'PREF_NAME', 'PREF_NAME_en_t'])
df_area_test.head()

                     COUPON_ID_hash  ...         PREF_NAME_EN
0  c76ea297ebd3a5a4d3bf9f75269f66fa  ...                Kyoto
1  c76ea297ebd3a5a4d3bf9f75269f66fa  ...     Osaka prefecture
2  dd74dc95ca294afa02db40a543ae1763  ...                Tokyo
3  c65b550cbef918796ad53b1d5b7165c1  ...  Kanagawa Prefecture
4  c65b550cbef918796ad53b1d5b7165c1  ...   Saitama Prefecture

[5 rows x 3 columns]

In [ ]:
df_visit_train.head()

   PURCHASE_FLG  ... PURCHASEID_hash
0             0  ...             NaN
1             0  ...             NaN
2             0  ...             NaN
3             0  ...             NaN
4             0  ...             NaN

[5 rows x 8 columns]

In [ ]:
df_locations['PREF_NAME_EN'] = df_locations['PREF_NAME'].map(pref_name_dict)

po_jp = df_locations['PREFECTUAL_OFFICE'].unique()

In [ ]:
po_jp

array(['札幌市', '青森市', '盛岡市', '仙台市', '秋田市', '山形市', '福島市', '水戸市', '宇都宮市',
       '前橋市', 'さいたま市', '千葉市', '新宿区', '横浜市', '新潟市', '富山市', '金沢市', '福井市',
       '甲府市', '長野市', '岐阜市', '静岡市', '名古屋市', '津市', '大津市', '京都市', '大阪市',
       '神戸市', '奈良市', '和歌山市', '鳥取市', '松江市', '岡山市', '広島市', '山口市', '徳島市',
       '高松市', '松山市', '高知市', '福岡市', '佐賀市', '長崎市', '熊本市', '大分市', '宮崎市',
       '鹿児島市', '那覇市'], dtype=object)

In [ ]:
po_en = ['Sapporo', 'Aomori City', 'Morioka City', 'Sendai City', 'Akita City', 'Yamagata City', 'Fukushima City', 'Mito City', 'Utsunomiya City',
         'Maebashi', 'Saitama City', 'Chiba', 'Shinjuku ward', 'Yokohama City', 'Niigata City', 'Toyama City', 'Kanazawa', 'Fukui City',
         'Kofu City', 'Nagano City', 'Gifu City', 'Shizuoka City', 'Nagoya City', 'Tsu City', 'Otsu City', 'Kyoto City', 'Osaka City',
         'Kobe City', 'Nara City', 'Wakayama City', 'Tottori City', 'Matsue', 'Okayama City', 'Hiroshima City', 'Yamaguchi City', 'Tokushima City', 
         'Takamatsu City', 'Matsuyama City', 'Kochi City', 'Fukuoka City', 'Saga City', 'Nagasaki City', 'Kumamoto City', 'Oita City', 'Miyazaki City', 
         'Kagoshima City', 'Naha City']

assert len(po_jp) == len(po_en)

pref_office_dict = {k:v for k, v in zip(po_jp, po_en)}
df_locations['PREFECTUAL_OFFICE_EN'] = df_locations['PREFECTUAL_OFFICE'].map(pref_office_dict)
df_locations

   PREF_NAME PREFECTUAL_OFFICE  ...          PREF_NAME_EN  PREFECTUAL_OFFICE_EN
0        北海道               札幌市  ...              Hokkaido               Sapporo
1        青森県               青森市  ...     Aomori Prefecture           Aomori City
2        岩手県               盛岡市  ...      Iwate Prefecture          Morioka City
3        宮城県               仙台市  ...     Miyagi Prefecture           Sendai City
4        秋田県               秋田市  ...                 Akita            Akita City
5        山形県               山形市  ...   Yamagata Prefecture         Yamagata City
6        福島県               福島市  ...  Fukushima Prefecture        Fukushima City
7        茨城県               水戸市  ...    Ibaraki Prefecture             Mito City
8        栃木県              宇都宮市  ...    Tochigi Prefecture       Utsunomiya City
9        群馬県               前橋市  ...      Gunma Prefecture              Maebashi
10       埼玉県             さいたま市  ...    Saitama Prefecture          Saitama City
11       千葉県               千葉市  ...      Chiba Prefecture                 Chiba
12       東京都               新宿区  ...                 Tokyo         Shinjuku ward
13      神奈川県               横浜市  ...   Kanagawa Prefecture         Yokohama City
14       新潟県               新潟市  ...    Niigata Prefecture          Niigata City
15       富山県               富山市  ...     Toyama Prefecture           Toyama City
16       石川県               金沢市  ...   Ishikawa Prefecture              Kanazawa
17       福井県               福井市  ...      Fukui Prefecture            Fukui City
18       山梨県               甲府市  ...  Yamanashi Prefecture             Kofu City
19       長野県               長野市  ...     Nagano Prefecture           Nagano City
20       岐阜県               岐阜市  ...       Gifu Prefecture             Gifu City
21       静岡県               静岡市  ...   Shizuoka Prefecture         Shizuoka City
22       愛知県              名古屋市  ...      Aichi Prefecture           Nagoya City
23       三重県                津市  ...                   Mie              Tsu City
24       滋賀県               大津市  ...      Shiga Prefecture             Otsu City
25       京都府               京都市  ...                 Kyoto            Kyoto City
26       大阪府               大阪市  ...      Osaka prefecture            Osaka City
27       兵庫県               神戸市  ...      Hyogo Prefecture             Kobe City
28       奈良県               奈良市  ...       Nara Prefecture             Nara City
29      和歌山県              和歌山市  ...   Wakayama Prefecture         Wakayama City
30       鳥取県               鳥取市  ...    Tottori Prefecture          Tottori City
31       島根県               松江市  ...    Shimane Prefecture                Matsue
32       岡山県               岡山市  ...    Okayama Prefecture          Okayama City
33       広島県               広島市  ...  Hiroshima Prefecture        Hiroshima City
34       山口県               山口市  ...  Yamaguchi Prefecture        Yamaguchi City
35       徳島県               徳島市  ...  Tokushima Prefecture        Tokushima City
36       香川県               高松市  ...     Kagawa Prefecture        Takamatsu City
37       愛媛県               松山市  ...      Ehime Prefecture        Matsuyama City
38       高知県               高知市  ...      Kochi Prefecture            Kochi City
39       福岡県               福岡市  ...    Fukuoka Prefecture          Fukuoka City
40       佐賀県               佐賀市  ...       Saga Prefecture             Saga City
41       長崎県               長崎市  ...   Nagasaki Prefecture         Nagasaki City
42       熊本県               熊本市  ...   Kumamoto Prefecture         Kumamoto City
43       大分県               大分市  ...       Oita Prefecture             Oita City
44       宮崎県               宮崎市  ...   Miyazaki Prefecture         Miyazaki City
45      鹿児島県              鹿児島市  ...  Kagoshima Prefecture        Kagoshima City
46       沖縄県               那覇市  ...               Okinawa             Naha City

[47 rows x 8 columns]

In [ ]:
df_locations = df_locations.drop(columns=['PREF_NAME', 'PREFECTUAL_OFFICE', 'PREF_NAME_en_t', 'PREFECTUAL_OFFICE_en_t'])
df_locations

     LATITUDE   LONGITUDE          PREF_NAME_EN PREFECTUAL_OFFICE_EN
0   43.063968  141.347899              Hokkaido              Sapporo
1   40.824623  140.740593     Aomori Prefecture          Aomori City
2   39.703531  141.152667      Iwate Prefecture         Morioka City
3   38.268839  140.872103     Miyagi Prefecture          Sendai City
4   39.718600  140.102334                 Akita           Akita City
5   38.240437  140.363634   Yamagata Prefecture        Yamagata City
6   37.750299  140.467521  Fukushima Prefecture       Fukushima City
7   36.341813  140.446793    Ibaraki Prefecture            Mito City
8   36.565725  139.883565    Tochigi Prefecture      Utsunomiya City
9   36.391208  139.060156      Gunma Prefecture             Maebashi
10  35.857428  139.648933    Saitama Prefecture         Saitama City
11  35.605058  140.123308      Chiba Prefecture                Chiba
12  35.689521  139.691704                 Tokyo        Shinjuku ward
13  35.447753  139.642514   Kanagawa Prefecture        Yokohama City
14  37.902418  139.023221    Niigata Prefecture         Niigata City
15  36.695290  137.211338     Toyama Prefecture          Toyama City
16  36.594682  136.625573   Ishikawa Prefecture             Kanazawa
17  36.065219  136.221642      Fukui Prefecture           Fukui City
18  35.664158  138.568449  Yamanashi Prefecture            Kofu City
19  36.651289  138.181224     Nagano Prefecture          Nagano City
20  35.391227  136.722291       Gifu Prefecture            Gifu City
21  34.976978  138.383054   Shizuoka Prefecture        Shizuoka City
22  35.180188  136.906565      Aichi Prefecture          Nagoya City
23  34.730283  136.508591                   Mie             Tsu City
24  35.004531  135.868590      Shiga Prefecture            Otsu City
25  35.021004  135.755608                 Kyoto           Kyoto City
26  34.686316  135.519711      Osaka prefecture           Osaka City
27  34.691279  135.183025      Hyogo Prefecture            Kobe City
28  34.685333  135.832744       Nara Prefecture            Nara City
29  34.226034  135.167506   Wakayama Prefecture        Wakayama City
30  35.503869  134.237672    Tottori Prefecture         Tottori City
31  35.472297  133.050499    Shimane Prefecture               Matsue
32  34.661772  133.934675    Okayama Prefecture         Okayama City
33  34.396560  132.459622  Hiroshima Prefecture       Hiroshima City
34  34.186121  131.470500  Yamaguchi Prefecture       Yamaguchi City
35  34.065770  134.559303  Tokushima Prefecture       Tokushima City
36  34.340149  134.043444     Kagawa Prefecture       Takamatsu City
37  33.841660  132.765362      Ehime Prefecture       Matsuyama City
38  33.559705  133.531080      Kochi Prefecture           Kochi City
39  33.606785  130.418314    Fukuoka Prefecture         Fukuoka City
40  33.249367  130.298822       Saga Prefecture            Saga City
41  32.744839  129.873756   Nagasaki Prefecture        Nagasaki City
42  32.789828  130.741667   Kumamoto Prefecture        Kumamoto City
43  33.238194  131.612591       Oita Prefecture            Oita City
44  31.911090  131.423855   Miyazaki Prefecture        Miyazaki City
45  31.560148  130.557981  Kagoshima Prefecture       Kagoshima City
46  26.212401  127.680932               Okinawa            Naha City

In [ ]:
# Save CSV files to translated output. 
!mkdir data_translated
dir = 'data_translated'

In [ ]:
# df_users.to_csv(f'{dir}/user_list.csv')
# df_area_test.to_csv(f'{dir}/coupon_area_test.csv')
# df_area_train.to_csv(f'{dir}/coupon_area_train.csv')
# df_c_detail_train.to_csv(f'{dir}/coupon_detail_train.csv')
# df_c_list_test.to_csv(f'{dir}/coupon_list_test.csv')
# df_c_list_train.to_csv(f'{dir}/coupon_list_train.csv')
# df_visit_train.to_csv(f'{dir}/coupon_visit_train.csv')
# df_locations.to_csv(f'{dir}/prefecture_locations.csv')

!zip -r translated_data.zip data_translated/

  adding: data_translated/ (stored 0%)
  adding: data_translated/coupon_visit_train.csv (deflated 77%)
  adding: data_translated/coupon_list_train.csv (deflated 79%)
  adding: data_translated/prefecture_locations.csv (deflated 57%)
  adding: data_translated/coupon_area_test.csv (deflated 86%)
  adding: data_translated/coupon_detail_train.csv (deflated 64%)
  adding: data_translated/coupon_area_train.csv (deflated 87%)
  adding: data_translated/user_list.csv (deflated 57%)
  adding: data_translated/coupon_list_test.csv (deflated 78%)